<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OOP-FInalProject</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="players">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Player List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tournament">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tournament Overview
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rounds">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Round Overview
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="results">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Results
            </NavLink>
        </div>
    </nav>
</div>
